<%- include("../head.ejs") %>
<section class="hero is-medium is-link is-bold">
    <div class="hero-body">
        <div class="container">
            <h1 class="title is-serif is-size-1 has-text-centered">
                Suggestion Hub
            </h1>
        </div>
    </div>
</section>
<div class="container">
        <div class="card is-module">
                <div class="card-content">
                    <div class="media">
                        <div class="media-left">
                            <figure class="image">
                                <span class="iconify" data-icon="mdi:plus-thick" width="50px" style="color: rgb(34, 140, 240);"></span>
                            </figure>
                        </div>
                        <div class="media-content">
                            <p class="title is-4">New</p>
                            <p class="subtitle is-6">Suggest a feature.</p>
                        </div>
                    </div>
                </div>
                <footer class="card-footer">
                    <a href="/sf/new" class="card-footer-item">Go there</a>
                </footer>
            </div>
</div>
<%- include("../foot.ejs") %>