<%- include("../head.ejs") %>
<section class="hero is-medium is-link is-bold">
    <div class="hero-body">
        <div class="container">
            <h1 class="title is-serif is-size-1 has-text-centered">
                Declare Suggestion
            </h1>
        </div>
    </div>
</section>
<div class="container">
    <div class="card is-module">
        <div class="card-content">  
            <div class="media">
                <div class="media-left">
                    <figure class="image">
                        <span class="iconify" data-icon="mdi:account" width="50px"
                            style="color: rgb(34, 140, 240);"></span>
                    </figure>
                </div>
                <div class="media-content">
                    <p class="title is-4">Username</p>
                    <p class="subtitle is-6"><%= user %></p>
                </div>
            </div>
        </div>
    </div>
    <div class="card is-module">
        <div class="card-content">
            <div class="media">
                <div class="media-left">
                    <figure class="image">
                        <span class="iconify" data-icon="mdi:format-title" width="50px"
                            style="color: rgb(34, 140, 240);"></span>
                    </figure>
                </div>
                <div class="media-content">
                    <p class="title is-4">Title</p>
                    <p class="subtitle is-6">Usually not longer than a sentence.</p>
                </div>
            </div>
            <input type="text" style="width: 100%;" id="field_title" />
        </div>
    </div>
    <div class="card is-module">
        <div class="card-content">
            <div class="media">
                <div class="media-left">
                    <figure class="image">
                        <span class="iconify" data-icon="mdi:text-short" width="50px"
                            style="color: rgb(34, 140, 240);"></span>
                    </figure>
                </div>
                <div class="media-content">
                    <p class="title is-4">Short Description</p>
                    <p class="subtitle is-6">Usually a few sentences. Don't include many details.</p>
                </div>
            </div>
            <input type="text" style="width: 100%;" id="field_short" />
        </div>
    </div>
    <div class="card is-module">
        <div class="card-content">
            <div class="media">
                <div class="media-left">
                    <figure class="image">
                        <span class="iconify" data-icon="mdi:cursor-text" width="50px"
                            style="color: rgb(34, 140, 240)"></span>
                    </figure>
                </div>
                <div class="media-content">
                    <p class="title is-4">Long Description</p>
                    <p class="subtitle is-6">Usually quite detailed.</p>
                </div>
            </div>
            <textarea style="width: 100%; max-width: 100%; min-width: 100%;" id="field_long"></textarea>
        </div>
    </div>
</div>
<%- include("../foot.ejs") %>