<%- include("../head.ejs") %>
<section class="hero is-fullheight-with-navbar is-warning is-bold">
    <div class="hero-body">
        <div class="container">
          <h1 class="title is-serif is-size-1 has-text-centered">
            Server Misconfigured
          </h1>
          <h2 class="subtitle has-text-centered">This module is not functional due to the server not having the right configuration options.<br><b>Please contact the site owner to either disable the suggestions module entirely or fix the server configuration.</b></h2>
        </div>
      </div>
</section>
<%- include("../foot.ejs") %>