<%- include("../head.ejs") %>
<section class="hero is-medium is-link is-bold">
    <div class="hero-body">
        <div class="container">
            <h1 class="title is-serif is-size-1 has-text-centered">
                <%= cfg.sitename %>
            </h1>
            <div class="flex">
                <h1>Search for a solution:</h1>
                <input class="input" type="text" placeholder="Search" id="homesearchbar">
                <a class="button is-info" id="homesearchbtn">Search</a>
            </div>
        </div>
    </div>
</section>
<div class="container">
    <% if (cfg.enable.kb) {%>
    <div class="card is-module">
        <div class="card-content">
            <div class="media">
                <div class="media-left">
                    <figure class="image">
                        <span class="iconify" data-icon="mdi:database" width="50px" style="color: orangered;"></span>
                    </figure>
                </div>
                <div class="media-content">
                    <p class="title is-4">Knowledge Base</p>
                    <p class="subtitle is-6">Pre-Answered common questions with detailed guides.</p>
                </div>
            </div>
        </div>
        <footer class="card-footer">
            <a href="/kb" class="card-footer-item">Go there</a>
        </footer>
    </div>
    <% } %>
    <% if (cfg.enable.suggestions) {%>
    <div class="card is-module">
        <div class="card-content">
            <div class="media">
                <div class="media-left">
                    <figure class="image">
                        <span class="iconify" data-icon="mdi:account-question" width="50px" style="color: blueviolet;"></span>
                    </figure>
                </div>
                <div class="media-content">
                    <p class="title is-4">Suggestions</p>
                    <p class="subtitle is-6">Suggest features you'd like to see next.</p>
                </div>
            </div>
        </div>
        <footer class="card-footer">
            <a href="/sf" class="card-footer-item">Go there</a>
        </footer>
    </div>
    <% } %>
</div>
<%- include("../foot.ejs") %>