<%- include("../head.ejs") %>
<section class="hero is-fullheight-with-navbar is-link is-bold">
    <div class="hero-body">
        <div class="container">
          <h1 class="title is-serif is-size-1 has-text-centered">
            404
          </h1>
          <h2 class="subtitle has-text-centered">Page not found.</h2>
        </div>
      </div>
</section>
<%- include("../foot.ejs") %>