<%- include("../head.ejs") %>
<section class="hero is-medium is-link is-bold">
    <div class="hero-body">
        <div class="container">
            <h3 class="subtitle is-size-5 has-text-centered">
                <% if (cfg.enable.kb) { %>
                <a href="/kb">
                    <span class="iconify" data-icon="mdi:arrow-left"></span> Back
                </a>
                <% } else { %>
                <a href="/">
                    <span class="iconify" data-icon="mdi:arrow-left"></span> Back
                </a>
                <% } %>
            </h3>
            <h1 class="title is-serif is-size-1 has-text-centered">
                Results
            </h1>
            <h3 class="subtitle is-size-5 has-text-centered">
                in our Knowledge Base
            </h3>
        </div>
    </div>
</section>
<div class="container"><br>
    <% if (cfg.enable.kb) { %>
    <% results.forEach(result => { %>
    <span><a href="/kb/article/<%= result.article %>/<%= result.name.slice(0,-3) %>"><%= result.name.slice(0,-3) %></a>
        / <span class="has-text-grey"><%=result.article%></span></span><br>
    <% }) %>
    <% } else { %>
    <p class="has-text-centered has-text-grey">The Knowledge Base module was disabled by an administrator.</p>
    <% } %>
</div>
<%- include("../foot.ejs") %>