<%- include("../head.ejs") %>
<section class="hero is-medium is-link is-bold">
    <div class="hero-body">
        <div class="container">
            <h3 class="subtitle is-size-5 has-text-centered">
                <a href="/kb/article/<%= article.cat %>">
                    <span class="iconify" data-icon="mdi:arrow-left"></span> Back
                </a>
            </h3>
            <h1 class="title is-serif is-size-1 has-text-centered">
                <%= article.name %>
            </h1>
            <h3 class="subtitle is-size-5 has-text-centered">
                from our Knowledge Base
            </h3>
        </div>
    </div>
</section>
<div class="container">
    <div class="content is-article" style="margin-top:50px;">
        <%- article.body %>
    </div>
</div>
<script src="/js/ensure-highlighting.js"></script>
<%- include("../foot.ejs") %>