<%- include("../head.ejs") %>
<section class="hero is-medium is-link is-bold">
    <div class="hero-body">
        <div class="container">
            <h3 class="subtitle is-size-5 has-text-centered">
                <a href="/kb">
                    <span class="iconify" data-icon="mdi:arrow-left"></span> Back
                </a>
            </h3>
            <h1 class="title is-serif is-size-1 has-text-centered">
                Articles on "<%= cat.name %>"
            </h1>
            <h3 class="subtitle is-size-5 has-text-centered">
                in our Knowledge Base
            </h3>
        </div>
    </div>
</section>
<div class="container"><br>
    <% cat.contents.forEach((article) => {%>
        <a href="<%=cat.name%>/<%= article.slice(0,-3) %>">
            <%= article.slice(0,-3) %>
        </a>
    <% }) %>
</div>
<%- include("../foot.ejs") %>