<%- include("../head.ejs") %>
<section class="hero is-fullheight-with-navbar is-warning is-bold">
    <div class="hero-body">
        <div class="container">
          <h1 class="title is-serif is-size-1 has-text-centered">
            Disabled
          </h1>
          <h2 class="subtitle has-text-centered">This module was disabled by the site administrator.<br><b>If you believe this is in error, please contact the site owner.</b></h2>
        </div>
      </div>
</section>
<%- include("../foot.ejs") %>