<%- include("../head.ejs") %>
<section class="hero is-medium is-link is-bold">
    <div class="hero-body">
        <div class="container">
            <h1 class="title is-serif is-size-1 has-text-centered">
                Knowledge Base
            </h1>
        </div>
    </div>
</section>
<div class="container">
    <% articles.forEach((article) => { %>
    <br>
    <h4 class="subtitle has-text-weight-bold"><%= article.name %></h4>
    <% article.subarticles.forEach((subcat) => { %>
    <a href="/kb/article/<%=article.name%>/<%= subcat.slice(0,-3) %>"><%= subcat.slice(0, -3) %></a><br>
    <%})%>
    <%})%>
</div>
<%- include("../foot.ejs") %>