<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="/">
            <span class="has-text-weight-bold"><%= cfg.sitename %></span>
        </a>

        <a role="button" class="navbar-burger" data-target="navMenu" aria-label="menu" aria-expanded="false">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div id="navMenu" class="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item" href="/">
                Home
            </a>
            <% if (cfg.enable.kb) { %>
            <a class="navbar-item" href="/kb">
                Knowledge Base
            </a>
            <% } %>
            <% if (cfg.enable.suggestions) { %>
            <a class="navbar-item" href="/sf">
                Suggestion Hub
            </a>
            <% } %>
        </div>

        <div class="navbar-end">
            <div class="navbar-item">
                <input type="text" placeholder="Search by..." class="input is-link" id="navsearchbar">&nbsp;
                <div class="buttons">
                    <a class="button is-link" id="navsearchbtn">
                        <strong>Search</strong>
                    </a>
                </div>
            </div>
        </div>
    </div>
</nav>

<script>
    // Taken from https://bulma.io/documentation/components/navbar/.

    document.addEventListener('DOMContentLoaded', () => {
        // Get all "navbar-burger" elements
        const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);
        // Check if there are any navbar burgers
        if ($navbarBurgers.length > 0) {
            // Add a click event on each of them
            $navbarBurgers.forEach(el => {
                el.addEventListener('click', () => {
                    // Get the target from the "data-target" attribute
                    const target = el.dataset.target;
                    const $target = document.getElementById(target);
                    // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
                    el.classList.toggle('is-active');
                    $target.classList.toggle('is-active');
                });
            });
        }
    });
</script>