@import url('https://fonts.googleapis.com/css?family=Fira+Sans:400,700|PT+Serif:400,700&display=swap');

body {
    font-family: "Fira Sans", sans-serif;
    margin-bottom: 40px;
}

h1,h2,h3,h4,h5,h6 {
    font-weight: normal;
}

.is-serif {
    font-family: "PT Serif", serif;
}

.is-fullheight-with-hmnav {
    min-height: calc(100vh - 4.25rem);
}

.flex {
    display: flex;
    justify-items: space-between;
}

.is-module {
    border: 1px solid rgb(218, 218, 218);
    border-radius: 3px;
    margin-top: 50px;
}

.is-article {
    font-family: "PT Serif", serif;
    font-size: 1.2em;
}

.is-article h1, .is-article h2, .is-article h3, .is-article h4, .is-article h5, .is-article h6 {
    font-family: "Fira Sans", sans-serif;
}

.hljs {
    border-radius: 5px;
}